body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('fundao.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
}

.top-bar {
    background-color: #000;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    height: 70px;
    box-sizing: border-box;
    margin-top: 0;
}

.logo-left-img {
    max-height: 50px;
    margin-left: 300px;
    cursor: pointer;
    display: block;
    width: auto;
}

.logo-right-img {
    max-height: 35px;
    height: 100%;
    margin-right: 300px;
    max-width: 100%;
}

.logo-new-right-img {
    max-height: 55px;
    margin-right: 292px;
    height: 100%;
    max-width: 100%;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 257px;
  position: relative; /* Adicionado */
}

nav ul li {
  margin-right: 45px;
  font-size: 1.2em;
  position: relative; /* Adicionado para o submenu ser posicionado relativamente a este item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Submenu oculto inicialmente */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 180px;
  z-index: 9999;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.submenu li a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.submenu li a:hover {
  background-color: #333;
}

.dropdown {
  position: relative;
}

.dropdown:hover .submenu {
  display: flex;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    z-index: 100;
}

.background-section {
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texticulo{
    position: absolute;
    color: #ffffff;
    text-align: center;
    margin: 300px;
}

.rodape {
    width: 100%;
    background-color: #333;
    position: absolute;
    border:rgb(163, 163, 163)
}

#texto-rodape {
   text-align: center;
    color: #ffffff;
}
